/venv/
/L2/l_1_variables_int_and_float.ipynb
/L3/l_2_if_else.ipynb
/L3/l_3_list.ipynb
/L4/l_4_while_for.ipynb
/dicomdir_reader/
/L5/l_5_string.ipynb
/L7/l_7_tuple.ipynb
/L7/l_8_set.ipynb
/L7/l_9_func_part_1.ipynb
/L9/l_11_func_generator.ipynb
/L11/l_13_algorithm.ipynb
/L11/l_14_files.ipynb
/L11/l_15_OOP_part_1.ipynb
/L8/l_10_func_p2.ipynb
/L12/l_16_OOP_Inheritance.ipynb
/L13/l_17_exception.ipynb
/L14/l_18_module_packages.ipynb
/L14/l_19_OOP_Polimorfizm.ipynb
/L15/l_20_OOP_encapsulation.ipynb
/L15/l_21_iterator.ipynb
